---
layout: compress
---

{% include base_path %}

<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>
<style>
.centered {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
</style>
<body>
  <div class="centered">
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% include author-profile-row.html %}

    {{ content }}
  </div>
  <footer class="centered">
    {% include footer-alt.html %}
  </footer>
</body>
</html>