---
layout: compress
---

{% include base_path %}

<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
<head>
  {% include head.html %}
  {% include head/custom.html %}
  <style>
    .centered {
    max-width: 650px;
    margin: auto;
    }
  </style>
</head>
<body>
  <div class="centered">
    {% include browser-upgrade.html %}
    {% include theme-toggle.html %}
    {% include author-profile-row.html %}

    {{ content }}
  </div>
  <footer class="centered">
    {% include footer-alt.html %}
  </footer>
</body>
</html>